.emoji {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	width: 20px;
	height: 20px;
	background-image: url("iphone_emoji.png");
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.emoji-black-sun-with-rays{background-position:0 -260px}
.emoji-cloud{background-position:0 -20px}
.emoji-umbrella-with-rain-drops{background-position:0 -40px}
.emoji-snowman-without-snow{background-position:0 -60px}
.emoji-high-voltage-sign{background-position:0 -80px}
.emoji-cyclone{background-position:0 -100px}
.emoji-foggy{background-position:0 -9200px}
.emoji-closed-umbrella{background-position:0 -120px}
.emoji-night-with-stars{background-position:0 -920px}
.emoji-sunrise-over-mountains{background-position:0 -160px}
.emoji-sunrise{background-position:0 -180px}
.emoji-cityscape-at-dusk{background-position:0 -200px}
.emoji-sunset-over-buildings{background-position:0 -220px}
.emoji-rainbow{background-position:0 -240px}
.emoji-snowflake{background-position:0 -9200px}
.emoji-sun-behind-cloud{background-position:0 -260px}
.emoji-bridge-at-night{background-position:0 -920px}
.emoji-water-wave{background-position:0 -900px}
.emoji-volcano{background-position:0 -9200px}
.emoji-milky-way{background-position:0 -920px}
.emoji-earth-globe-asia-australia{background-position:0 -9200px}
.emoji-new-moon-symbol{background-position:0 -9200px}
.emoji-waxing-gibbous-moon-symbol{background-position:0 -360px}
.emoji-first-quarter-moon-symbol{background-position:0 -360px}
.emoji-crescent-moon{background-position:0 -360px}
.emoji-full-moon-symbol{background-position:0 -9200px}
.emoji-first-quarter-moon-with-face{background-position:0 -360px}
.emoji-glowing-star{background-position:0 -10740px}
.emoji-shooting-star{background-position:0 -9200px}
.emoji-clock-face-one-oclock{background-position:0 -380px}
.emoji-clock-face-two-oclock{background-position:0 -400px}
.emoji-clock-face-three-oclock{background-position:0 -420px}
.emoji-clock-face-four-oclock{background-position:0 -440px}
.emoji-clock-face-five-oclock{background-position:0 -460px}
.emoji-clock-face-six-oclock{background-position:0 -480px}
.emoji-clock-face-seven-oclock{background-position:0 -500px}
.emoji-clock-face-eight-oclock{background-position:0 -520px}
.emoji-clock-face-nine-oclock{background-position:0 -540px}
.emoji-clock-face-ten-oclock{background-position:0 -620px}
.emoji-clock-face-eleven-oclock{background-position:0 -580px}
.emoji-clock-face-twelve-oclock{background-position:0 -600px}
.emoji-watch{background-position:0 -9200px}
.emoji-hourglass{background-position:0 -9200px}
.emoji-alarm-clock{background-position:0 -620px}
.emoji-hourglass-with-flowing-sand{background-position:0 -9200px}
.emoji-aries{background-position:0 -640px}
.emoji-taurus{background-position:0 -660px}
.emoji-gemini{background-position:0 -680px}
.emoji-cancer{background-position:0 -700px}
.emoji-leo{background-position:0 -720px}
.emoji-virgo{background-position:0 -740px}
.emoji-libra{background-position:0 -760px}
.emoji-scorpius{background-position:0 -780px}
.emoji-sagittarius{background-position:0 -800px}
.emoji-capricorn{background-position:0 -820px}
.emoji-aquarius{background-position:0 -840px}
.emoji-pisces{background-position:0 -860px}
.emoji-ophiuchus{background-position:0 -880px}
.emoji-four-leaf-clover{background-position:0 -1220px}
.emoji-tulip{background-position:0 -960px}
.emoji-seedling{background-position:0 -1220px}
.emoji-maple-leaf{background-position:0 -1000px}
.emoji-cherry-blossom{background-position:0 -1020px}
.emoji-rose{background-position:0 -1040px}
.emoji-fallen-leaf{background-position:0 -1060px}
.emoji-leaf-fluttering-in-wind{background-position:0 -1080px}
.emoji-hibiscus{background-position:0 -1100px}
.emoji-sunflower{background-position:0 -1200px}
.emoji-palm-tree{background-position:0 -1140px}
.emoji-cactus{background-position:0 -1160px}
.emoji-ear-of-rice{background-position:0 -1180px}
.emoji-ear-of-maize{background-position:0 -9200px}
.emoji-mushroom{background-position:0 -9200px}
.emoji-chestnut{background-position:0 -9200px}
.emoji-blossom{background-position:0 -1200px}
.emoji-herb{background-position:0 -1220px}
.emoji-cherries{background-position:0 -9200px}
.emoji-banana{background-position:0 -9200px}
.emoji-red-apple{background-position:0 -1360px}
.emoji-tangerine{background-position:0 -1260px}
.emoji-strawberry{background-position:0 -1280px}
.emoji-watermelon{background-position:0 -1300px}
.emoji-tomato{background-position:0 -1320px}
.emoji-aubergine{background-position:0 -1340px}
.emoji-melon{background-position:0 -9200px}
.emoji-pineapple{background-position:0 -9200px}
.emoji-grapes{background-position:0 -9200px}
.emoji-peach{background-position:0 -9200px}
.emoji-green-apple{background-position:0 -1360px}
.emoji-eyes{background-position:0 -1380px}
.emoji-ear{background-position:0 -1400px}
.emoji-nose{background-position:0 -1420px}
.emoji-mouth{background-position:0 -1440px}
.emoji-tongue{background-position:0 -3000px}
.emoji-lipstick{background-position:0 -1480px}
.emoji-nail-polish{background-position:0 -1500px}
.emoji-face-massage{background-position:0 -1520px}
.emoji-haircut{background-position:0 -1540px}
.emoji-barber-pole{background-position:0 -1560px}
.emoji-bust-in-silhouette{background-position:0 -9200px}
.emoji-boy{background-position:0 -1580px}
.emoji-girl{background-position:0 -1600px}
.emoji-man{background-position:0 -1620px}
.emoji-woman{background-position:0 -1640px}
.emoji-family{background-position:0 -9200px}
.emoji-man-and-woman-holding-hands{background-position:0 -1660px}
.emoji-police-officer{background-position:0 -1680px}
.emoji-woman-with-bunny-ears{background-position:0 -1700px}
.emoji-bride-with-veil{background-position:0 -9200px}
.emoji-person-with-blond-hair{background-position:0 -1720px}
.emoji-man-with-gua-pi-mao{background-position:0 -1740px}
.emoji-man-with-turban{background-position:0 -1760px}
.emoji-older-man{background-position:0 -1780px}
.emoji-older-woman{background-position:0 -1800px}
.emoji-baby{background-position:0 -1820px}
.emoji-construction-worker{background-position:0 -1840px}
.emoji-princess{background-position:0 -1860px}
.emoji-japanese-ogre{background-position:0 -9200px}
.emoji-japanese-goblin{background-position:0 -9200px}
.emoji-ghost{background-position:0 -1880px}
.emoji-baby-angel{background-position:0 -1900px}
.emoji-extraterrestrial-alien{background-position:0 -1920px}
.emoji-alien-monster{background-position:0 -1940px}
.emoji-imp{background-position:0 -1960px}
.emoji-skull{background-position:0 -1980px}
.emoji-information-desk-person{background-position:0 -2000px}
.emoji-guardsman{background-position:0 -2020px}
.emoji-dancer{background-position:0 -2040px}
.emoji-snail{background-position:0 -9200px}
.emoji-snake{background-position:0 -2620px}
.emoji-horse{background-position:0 -6680px}
.emoji-chicken{background-position:0 -2640px}
.emoji-boar{background-position:0 -2660px}
.emoji-bactrian-camel{background-position:0 -2680px}
.emoji-elephant{background-position:0 -2480px}
.emoji-koala{background-position:0 -2500px}
.emoji-monkey{background-position:0 -2520px}
.emoji-sheep{background-position:0 -2540px}
.emoji-octopus{background-position:0 -2340px}
.emoji-spiral-shell{background-position:0 -2360px}
.emoji-bug{background-position:0 -2460px}
.emoji-ant{background-position:0 -9200px}
.emoji-honeybee{background-position:0 -9200px}
.emoji-lady-beetle{background-position:0 -9200px}
.emoji-tropical-fish{background-position:0 -2420px}
.emoji-blowfish{background-position:0 -7360px}
.emoji-turtle{background-position:0 -9200px}
.emoji-baby-chick{background-position:0 -2140px}
.emoji-front-facing-baby-chick{background-position:0 -2140px}
.emoji-bird{background-position:0 -2400px}
.emoji-hatching-chick{background-position:0 -2140px}
.emoji-penguin{background-position:0 -2160px}
.emoji-poodle{background-position:0 -2720px}
.emoji-fish{background-position:0 -7360px}
.emoji-dolphin{background-position:0 -2380px}
.emoji-mouse-face{background-position:0 -2280px}
.emoji-tiger-face{background-position:0 -2240px}
.emoji-cat-face{background-position:0 -2080px}
.emoji-spouting-whale{background-position:0 -2300px}
.emoji-horse-face{background-position:0 -2200px}
.emoji-monkey-face{background-position:0 -2320px}
.emoji-dog-face{background-position:0 -2720px}
.emoji-pig-face{background-position:0 -2780px}
.emoji-bear-face{background-position:0 -2260px}
.emoji-hamster-face{background-position:0 -2440px}
.emoji-wolf-face{background-position:0 -2560px}
.emoji-cow-face{background-position:0 -2580px}
.emoji-rabbit-face{background-position:0 -2600px}
.emoji-frog-face{background-position:0 -2700px}
.emoji-paw-prints{background-position:0 -6460px}
.emoji-dragon-face{background-position:0 -9200px}
.emoji-panda-face{background-position:0 -9200px}
.emoji-pig-nose{background-position:0 -2780px}
.emoji-angry-face{background-position:0 -2800px}
.emoji-weary-face{background-position:0 -3860px}
.emoji-astonished-face{background-position:0 -2840px}
.emoji-disappointed-face{background-position:0 -2860px}
.emoji-dizzy-face{background-position:0 -3540px}
.emoji-face-with-open-mouth-and-cold-sweat{background-position:0 -2900px}
.emoji-unamused-face{background-position:0 -2920px}
.emoji-smiling-face-with-heart-shaped-eyes{background-position:0 -3660px}
.emoji-face-with-look-of-triumph{background-position:0 -3720px}
.emoji-face-with-stuck-out-tongue-and-winking-eye{background-position:0 -2980px}
.emoji-face-with-stuck-out-tongue-and-tightly-closed-eyes{background-position:0 -3000px}
.emoji-face-savouring-delicious-food{background-position:0 -3220px}
.emoji-face-throwing-a-kiss{background-position:0 -3640px}
.emoji-kissing-face-with-closed-eyes{background-position:0 -3060px}
.emoji-face-with-medical-mask{background-position:0 -3080px}
.emoji-flushed-face{background-position:0 -3100px}
.emoji-smiling-face-with-open-mouth{background-position:0 -3580px}
.emoji-smiling-face-with-open-mouth-and-cold-sweat{background-position:0 -3260px}
.emoji-smiling-face-with-open-mouth-and-tightly-closed-eyes{background-position:0 -3380px}
.emoji-grinning-face-with-smiling-eyes{background-position:0 -3720px}
.emoji-face-with-tears-of-joy{background-position:0 -3620px}
.emoji-smiling-face-with-smiling-eyes{background-position:0 -3220px}
.emoji-white-smiling-face{background-position:0 -3240px}
.emoji-smiling-face-with-open-mouth-and-smiling-eyes{background-position:0 -3260px}
.emoji-crying-face{background-position:0 -3680px}
.emoji-loudly-crying-face{background-position:0 -3300px}
.emoji-fearful-face{background-position:0 -3320px}
.emoji-persevering-face{background-position:0 -3540px}
.emoji-pouting-face{background-position:0 -3880px}
.emoji-relieved-face{background-position:0 -3380px}
.emoji-confounded-face{background-position:0 -10520px}
.emoji-pensive-face{background-position:0 -3860px}
.emoji-face-screaming-in-fear{background-position:0 -3440px}
.emoji-sleepy-face{background-position:0 -3460px}
.emoji-smirking-face{background-position:0 -3480px}
.emoji-face-with-cold-sweat{background-position:0 -3500px}
.emoji-disappointed-but-relieved-face{background-position:0 -3520px}
.emoji-tired-face{background-position:0 -3540px}
.emoji-winking-face{background-position:0 -3560px}
.emoji-smiling-cat-face-with-open-mouth{background-position:0 -3580px}
.emoji-grinning-cat-face-with-smiling-eyes{background-position:0 -3720px}
.emoji-cat-face-with-tears-of-joy{background-position:0 -3620px}
.emoji-kissing-cat-face-with-closed-eyes{background-position:0 -3640px}
.emoji-smiling-cat-face-with-heart-shaped-eyes{background-position:0 -3660px}
.emoji-crying-cat-face{background-position:0 -3680px}
.emoji-pouting-cat-face{background-position:0 -3880px}
.emoji-cat-face-with-wry-smile{background-position:0 -3720px}
.emoji-weary-cat-face{background-position:0 -3860px}
.emoji-face-with-no-good-gesture{background-position:0 -3760px}
.emoji-face-with-ok-gesture{background-position:0 -3780px}
.emoji-person-bowing-deeply{background-position:0 -3800px}
.emoji-see-no-evil-monkey{background-position:0 -9200px}
.emoji-speak-no-evil-monkey{background-position:0 -9200px}
.emoji-hear-no-evil-monkey{background-position:0 -9200px}
.emoji-happy-person-raising-one-hand{background-position:0 -11240px}
.emoji-person-raising-both-hands-in-celebration{background-position:0 -3840px}
.emoji-person-frowning{background-position:0 -3860px}
.emoji-person-with-pouting-face{background-position:0 -3880px}
.emoji-person-with-folded-hands{background-position:0 -3900px}
.emoji-house-building{background-position:0 -3940px}
.emoji-house-with-garden{background-position:0 -3940px}
.emoji-office-building{background-position:0 -3960px}
.emoji-japanese-post-office{background-position:0 -3980px}
.emoji-hospital{background-position:0 -4000px}
.emoji-bank{background-position:0 -4020px}
.emoji-automated-teller-machine{background-position:0 -4040px}
.emoji-hotel{background-position:0 -4060px}
.emoji-love-hotel{background-position:0 -4080px}
.emoji-convenience-store{background-position:0 -4100px}
.emoji-school{background-position:0 -4120px}
.emoji-church{background-position:0 -4140px}
.emoji-fountain{background-position:0 -4160px}
.emoji-department-store{background-position:0 -4180px}
.emoji-japanese-castle{background-position:0 -4200px}
.emoji-european-castle{background-position:0 -4220px}
.emoji-factory{background-position:0 -4240px}
.emoji-anchor{background-position:0 -6920px}
.emoji-izakaya-lantern{background-position:0 -8800px}
.emoji-mount-fuji{background-position:0 -4300px}
.emoji-tokyo-tower{background-position:0 -4320px}
.emoji-statue-of-liberty{background-position:0 -4340px}
.emoji-silhouette-of-japan{background-position:0 -9200px}
.emoji-moyai{background-position:0 -9200px}
.emoji-mans-shoe{background-position:0 -4400px}
.emoji-athletic-shoe{background-position:0 -4400px}
.emoji-high-heeled-shoe{background-position:0 -4420px}
.emoji-womans-sandal{background-position:0 -4440px}
.emoji-womans-boots{background-position:0 -4460px}
.emoji-footprints{background-position:0 -6460px}
.emoji-eyeglasses{background-position:0 -9200px}
.emoji-t-shirt{background-position:0 -4620px}
.emoji-jeans{background-position:0 -9200px}
.emoji-crown{background-position:0 -4500px}
.emoji-necktie{background-position:0 -4520px}
.emoji-womans-hat{background-position:0 -4540px}
.emoji-dress{background-position:0 -4560px}
.emoji-kimono{background-position:0 -4580px}
.emoji-bikini{background-position:0 -4600px}
.emoji-womans-clothes{background-position:0 -4620px}
.emoji-purse{background-position:0 -9200px}
.emoji-handbag{background-position:0 -4960px}
.emoji-pouch{background-position:0 -9200px}
.emoji-money-bag{background-position:0 -4720px}
.emoji-currency-exchange{background-position:0 -4660px}
.emoji-chart-with-upwards-trend-and-yen-sign{background-position:0 -6380px}
.emoji-heavy-dollar-sign{background-position:0 -4720px}
.emoji-credit-card{background-position:0 -9200px}
.emoji-banknote-with-yen-sign{background-position:0 -9200px}
.emoji-banknote-with-dollar-sign{background-position:0 -4720px}
.emoji-money-with-wings{background-position:0 -9200px}
.emoji-regional-indicator-symbol-letters-cn{background-position:0 -4740px}
.emoji-regional-indicator-symbol-letters-de{background-position:0 -4760px}
.emoji-regional-indicator-symbol-letters-es{background-position:0 -4780px}
.emoji-regional-indicator-symbol-letters-fr{background-position:0 -4800px}
.emoji-regional-indicator-symbol-letters-gb{background-position:0 -4820px}
.emoji-regional-indicator-symbol-letters-it{background-position:0 -4840px}
.emoji-regional-indicator-symbol-letters-jp{background-position:0 -4860px}
.emoji-regional-indicator-symbol-letters-kr{background-position:0 -4880px}
.emoji-regional-indicator-symbol-letters-ru{background-position:0 -4900px}
.emoji-regional-indicator-symbol-letters-us{background-position:0 -4920px}
.emoji-fire{background-position:0 -5040px}
.emoji-electric-torch{background-position:0 -9200px}
.emoji-wrench{background-position:0 -9200px}
.emoji-hammer{background-position:0 -4360px}
.emoji-nut-and-bolt{background-position:0 -9200px}
.emoji-hocho{background-position:0 -9200px}
.emoji-pistol{background-position:0 -5020px}
.emoji-crystal-ball{background-position:0 -5080px}
.emoji-six-pointed-star-with-middle-dot{background-position:0 -5080px}
.emoji-japanese-symbol-for-beginner{background-position:0 -9660px}
.emoji-trident-emblem{background-position:0 -9680px}
.emoji-syringe{background-position:0 -5300px}
.emoji-pill{background-position:0 -5320px}
.emoji-negative-squared-latin-capital-letter-a{background-position:0 -5340px}
.emoji-negative-squared-latin-capital-letter-b{background-position:0 -5360px}
.emoji-negative-squared-ab{background-position:0 -5380px}
.emoji-negative-squared-latin-capital-letter-o{background-position:0 -5400px}
.emoji-ribbon{background-position:0 -5420px}
.emoji-wrapped-present{background-position:0 -6080px}
.emoji-birthday-cake{background-position:0 -5460px}
.emoji-christmas-tree{background-position:0 -5480px}
.emoji-father-christmas{background-position:0 -5500px}
.emoji-crossed-flags{background-position:0 -5520px}
.emoji-fireworks{background-position:0 -5540px}
.emoji-balloon{background-position:0 -5560px}
.emoji-party-popper{background-position:0 -5580px}
.emoji-pine-decoration{background-position:0 -5600px}
.emoji-japanese-dolls{background-position:0 -5620px}
.emoji-graduation-cap{background-position:0 -5640px}
.emoji-school-satchel{background-position:0 -5660px}
.emoji-carp-streamer{background-position:0 -5680px}
.emoji-firework-sparkler{background-position:0 -5700px}
.emoji-wind-chime{background-position:0 -5720px}
.emoji-jack-o-lantern{background-position:0 -5740px}
.emoji-confetti-ball{background-position:0 -9200px}
.emoji-tanabata-tree{background-position:0 -9200px}
.emoji-moon-viewing-ceremony{background-position:0 -5760px}
.emoji-pager{background-position:0 -9200px}
.emoji-black-telephone{background-position:0 -5800px}
.emoji-telephone-receiver{background-position:0 -5800px}
.emoji-mobile-phone{background-position:0 -5820px}
.emoji-mobile-phone-with-rightwards-arrow-at-left{background-position:0 -5840px}
.emoji-memo{background-position:0 -6440px}
.emoji-fax-machine{background-position:0 -5880px}
.emoji-envelope{background-position:0 -11200px}
.emoji-incoming-envelope{background-position:0 -11200px}
.emoji-envelope-with-downwards-arrow-above{background-position:0 -11200px}
.emoji-closed-mailbox-with-lowered-flag{background-position:0 -5980px}
.emoji-closed-mailbox-with-raised-flag{background-position:0 -5980px}
.emoji-postbox{background-position:0 -6000px}
.emoji-newspaper{background-position:0 -9200px}
.emoji-public-address-loudspeaker{background-position:0 -6020px}
.emoji-cheering-megaphone{background-position:0 -6040px}
.emoji-satellite-antenna{background-position:0 -6060px}
.emoji-outbox-tray{background-position:0 -9200px}
.emoji-inbox-tray{background-position:0 -9200px}
.emoji-package{background-position:0 -6080px}
.emoji-e-mail-symbol{background-position:0 -11200px}
.emoji-input-symbol-for-latin-capital-letters{background-position:0 -9200px}
.emoji-input-symbol-for-latin-small-letters{background-position:0 -9200px}
.emoji-input-symbol-for-numbers{background-position:0 -9200px}
.emoji-input-symbol-for-symbols{background-position:0 -9200px}
.emoji-input-symbol-for-latin-letters{background-position:0 -9200px}
.emoji-black-nib{background-position:0 -9200px}
.emoji-seat{background-position:0 -6100px}
.emoji-personal-computer{background-position:0 -6120px}
.emoji-pencil{background-position:0 -6440px}
.emoji-paperclip{background-position:0 -9200px}
.emoji-briefcase{background-position:0 -6160px}
.emoji-minidisc{background-position:0 -6200px}
.emoji-floppy-disk{background-position:0 -6200px}
.emoji-optical-disc{background-position:0 -7800px}
.emoji-dvd{background-position:0 -7820px}
.emoji-black-scissors{background-position:0 -6220px}
.emoji-round-pushpin{background-position:0 -9200px}
.emoji-page-with-curl{background-position:0 -6440px}
.emoji-page-facing-up{background-position:0 -6440px}
.emoji-calendar{background-position:0 -9200px}
.emoji-file-folder{background-position:0 -9200px}
.emoji-open-file-folder{background-position:0 -9200px}
.emoji-notebook{background-position:0 -6420px}
.emoji-open-book{background-position:0 -6420px}
.emoji-notebook-with-decorative-cover{background-position:0 -6420px}
.emoji-closed-book{background-position:0 -6420px}
.emoji-green-book{background-position:0 -6420px}
.emoji-blue-book{background-position:0 -6420px}
.emoji-orange-book{background-position:0 -6420px}
.emoji-books{background-position:0 -6420px}
.emoji-name-badge{background-position:0 -9200px}
.emoji-scroll{background-position:0 -9200px}
.emoji-clipboard{background-position:0 -6440px}
.emoji-tear-off-calendar{background-position:0 -9200px}
.emoji-bar-chart{background-position:0 -6380px}
.emoji-chart-with-upwards-trend{background-position:0 -6380px}
.emoji-chart-with-downwards-trend{background-position:0 -9200px}
.emoji-card-index{background-position:0 -6420px}
.emoji-pushpin{background-position:0 -9200px}
.emoji-ledger{background-position:0 -6420px}
.emoji-straight-ruler{background-position:0 -9200px}
.emoji-triangular-ruler{background-position:0 -9200px}
.emoji-bookmark-tabs{background-position:0 -6440px}
.emoji-running-shirt-with-sash{background-position:0 -9200px}
.emoji-baseball{background-position:0 -6480px}
.emoji-flag-in-hole{background-position:0 -6500px}
.emoji-tennis-racquet-and-ball{background-position:0 -6520px}
.emoji-soccer-ball{background-position:0 -6540px}
.emoji-ski-and-ski-boot{background-position:0 -6560px}
.emoji-basketball-and-hoop{background-position:0 -6580px}
.emoji-chequered-flag{background-position:0 -6600px}
.emoji-snowboarder{background-position:0 -9200px}
.emoji-runner{background-position:0 -6620px}
.emoji-surfer{background-position:0 -6640px}
.emoji-trophy{background-position:0 -6660px}
.emoji-american-football{background-position:0 -6700px}
.emoji-swimmer{background-position:0 -6720px}
.emoji-railway-car{background-position:0 -6740px}
.emoji-metro{background-position:0 -6780px}
.emoji-circled-latin-capital-letter-m{background-position:0 -6780px}
.emoji-high-speed-train{background-position:0 -6800px}
.emoji-high-speed-train-with-bullet-nose{background-position:0 -6820px}
.emoji-automobile{background-position:0 -6840px}
.emoji-recreational-vehicle{background-position:0 -6860px}
.emoji-bus{background-position:0 -6880px}
.emoji-bus-stop{background-position:0 -6900px}
.emoji-ship{background-position:0 -6920px}
.emoji-airplane{background-position:0 -6940px}
.emoji-sailboat{background-position:0 -6960px}
.emoji-station{background-position:0 -7000px}
.emoji-rocket{background-position:0 -7020px}
.emoji-speedboat{background-position:0 -7040px}
.emoji-taxi{background-position:0 -7060px}
.emoji-delivery-truck{background-position:0 -7100px}
.emoji-fire-engine{background-position:0 -7120px}
.emoji-ambulance{background-position:0 -7140px}
.emoji-police-car{background-position:0 -7260px}
.emoji-fuel-pump{background-position:0 -7180px}
.emoji-negative-squared-latin-capital-letter-p{background-position:0 -7200px}
.emoji-horizontal-traffic-light{background-position:0 -7220px}
.emoji-construction-sign{background-position:0 -9720px}
.emoji-police-cars-revolving-light{background-position:0 -7260px}
.emoji-hot-springs{background-position:0 -7280px}
.emoji-tent{background-position:0 -7300px}
.emoji-carousel-horse{background-position:0 -9200px}
.emoji-ferris-wheel{background-position:0 -7320px}
.emoji-roller-coaster{background-position:0 -7340px}
.emoji-fishing-pole-and-fish{background-position:0 -7360px}
.emoji-microphone{background-position:0 -7380px}
.emoji-movie-camera{background-position:0 -7400px}
.emoji-cinema{background-position:0 -7420px}
.emoji-headphone{background-position:0 -7440px}
.emoji-artist-palette{background-position:0 -7460px}
.emoji-top-hat{background-position:0 -7540px}
.emoji-circus-tent{background-position:0 -9200px}
.emoji-ticket{background-position:0 -7500px}
.emoji-clapper-board{background-position:0 -7520px}
.emoji-performing-arts{background-position:0 -7540px}
.emoji-video-game{background-position:0 -9200px}
.emoji-mahjong-tile-red-dragon{background-position:0 -7560px}
.emoji-direct-hit{background-position:0 -7580px}
.emoji-slot-machine{background-position:0 -7600px}
.emoji-billiards{background-position:0 -7620px}
.emoji-game-die{background-position:0 -9200px}
.emoji-bowling{background-position:0 -9200px}
.emoji-flower-playing-cards{background-position:0 -9200px}
.emoji-playing-card-black-joker{background-position:0 -9200px}
.emoji-musical-note{background-position:0 -7640px}
.emoji-multiple-musical-notes{background-position:0 -7740px}
.emoji-saxophone{background-position:0 -7680px}
.emoji-guitar{background-position:0 -7700px}
.emoji-musical-keyboard{background-position:0 -9200px}
.emoji-trumpet{background-position:0 -7720px}
.emoji-violin{background-position:0 -9200px}
.emoji-musical-score{background-position:0 -7740px}
.emoji-part-alternation-mark{background-position:0 -7760px}
.emoji-camera{background-position:0 -4940px}
.emoji-video-camera{background-position:0 -7400px}
.emoji-television{background-position:0 -7780px}
.emoji-radio{background-position:0 -7840px}
.emoji-videocassette{background-position:0 -7860px}
.emoji-kiss-mark{background-position:0 -7900px}
.emoji-love-letter{background-position:0 -11200px}
.emoji-ring{background-position:0 -7940px}
.emoji-gem-stone{background-position:0 -7960px}
.emoji-kiss{background-position:0 -7980px}
.emoji-bouquet{background-position:0 -8000px}
.emoji-couple-with-heart{background-position:0 -8020px}
.emoji-wedding{background-position:0 -8040px}
.emoji-no-one-under-eighteen-symbol{background-position:0 -9860px}
.emoji-copyright-sign{background-position:0 -9900px}
.emoji-registered-sign{background-position:0 -9920px}
.emoji-trade-mark-sign{background-position:0 -9940px}
.emoji-information-source{background-position:0 -9200px}
.emoji-hash-key{background-position:0 -8060px}
.emoji-keycap-1{background-position:0 -8080px}
.emoji-keycap-2{background-position:0 -8100px}
.emoji-keycap-3{background-position:0 -8120px}
.emoji-keycap-4{background-position:0 -8140px}
.emoji-keycap-5{background-position:0 -8160px}
.emoji-keycap-6{background-position:0 -8180px}
.emoji-keycap-7{background-position:0 -8200px}
.emoji-keycap-8{background-position:0 -8220px}
.emoji-keycap-9{background-position:0 -8240px}
.emoji-keycap-0{background-position:0 -8260px}
.emoji-keycap-ten{background-position:0 -9200px}
.emoji-antenna-with-bars{background-position:0 -8280px}
.emoji-vibration-mode{background-position:0 -8300px}
.emoji-mobile-phone-off{background-position:0 -8320px}
.emoji-hamburger{background-position:0 -8340px}
.emoji-rice-ball{background-position:0 -8360px}
.emoji-shortcake{background-position:0 -8380px}
.emoji-steaming-bowl{background-position:0 -8400px}
.emoji-bread{background-position:0 -8420px}
.emoji-cooking{background-position:0 -8440px}
.emoji-soft-ice-cream{background-position:0 -8460px}
.emoji-french-fries{background-position:0 -8480px}
.emoji-dango{background-position:0 -8500px}
.emoji-rice-cracker{background-position:0 -8520px}
.emoji-cooked-rice{background-position:0 -8540px}
.emoji-spaghetti{background-position:0 -8560px}
.emoji-curry-and-rice{background-position:0 -8580px}
.emoji-oden{background-position:0 -8600px}
.emoji-sushi{background-position:0 -8620px}
.emoji-bento-box{background-position:0 -8640px}
.emoji-pot-of-food{background-position:0 -8660px}
.emoji-shaved-ice{background-position:0 -8680px}
.emoji-meat-on-bone{background-position:0 -9200px}
.emoji-fish-cake-with-swirl-design{background-position:0 -9200px}
.emoji-roasted-sweet-potato{background-position:0 -9200px}
.emoji-slice-of-pizza{background-position:0 -9200px}
.emoji-poultry-leg{background-position:0 -9200px}
.emoji-ice-cream{background-position:0 -9200px}
.emoji-doughnut{background-position:0 -9200px}
.emoji-cookie{background-position:0 -9200px}
.emoji-chocolate-bar{background-position:0 -9200px}
.emoji-candy{background-position:0 -9200px}
.emoji-lollipop{background-position:0 -9200px}
.emoji-custard{background-position:0 -9200px}
.emoji-honey-pot{background-position:0 -9200px}
.emoji-fried-shrimp{background-position:0 -9200px}
.emoji-fork-and-knife{background-position:0 -8700px}
.emoji-hot-beverage{background-position:0 -8720px}
.emoji-cocktail-glass{background-position:0 -8860px}
.emoji-beer-mug{background-position:0 -8760px}
.emoji-teacup-without-handle{background-position:0 -8780px}
.emoji-sake-bottle-and-cup{background-position:0 -8800px}
.emoji-wine-glass{background-position:0 -8860px}
.emoji-clinking-beer-mugs{background-position:0 -8840px}
.emoji-tropical-drink{background-position:0 -8860px}
.emoji-north-east-arrow{background-position:0 -8960px}
.emoji-south-east-arrow{background-position:0 -8980px}
.emoji-north-west-arrow{background-position:0 -8920px}
.emoji-south-west-arrow{background-position:0 -8940px}
.emoji-arrow-pointing-rightwards-then-curving-upwards{background-position:0 -8960px}
.emoji-arrow-pointing-rightwards-then-curving-downwards{background-position:0 -8980px}
.emoji-left-right-arrow{background-position:0 -9200px}
.emoji-up-down-arrow{background-position:0 -9200px}
.emoji-upwards-black-arrow{background-position:0 -9000px}
.emoji-downwards-black-arrow{background-position:0 -9020px}
.emoji-black-rightwards-arrow{background-position:0 -9040px}
.emoji-leftwards-black-arrow{background-position:0 -11180px}
.emoji-black-right-pointing-triangle{background-position:0 -9080px}
.emoji-black-left-pointing-triangle{background-position:0 -9100px}
.emoji-black-right-pointing-double-triangle{background-position:0 -9120px}
.emoji-black-left-pointing-double-triangle{background-position:0 -9140px}
.emoji-black-up-pointing-double-triangle{background-position:0 -9200px}
.emoji-black-down-pointing-double-triangle{background-position:0 -9200px}
.emoji-up-pointing-red-triangle{background-position:0 -9200px}
.emoji-down-pointing-red-triangle{background-position:0 -9200px}
.emoji-up-pointing-small-red-triangle{background-position:0 -9200px}
.emoji-down-pointing-small-red-triangle{background-position:0 -9200px}
.emoji-heavy-large-circle{background-position:0 -9800px}
.emoji-cross-mark{background-position:0 -10340px}
.emoji-negative-squared-cross-mark{background-position:0 -10340px}
.emoji-heavy-exclamation-mark-symbol{background-position:0 -9160px}
.emoji-exclamation-question-mark{background-position:0 -9200px}
.emoji-double-exclamation-mark{background-position:0 -9200px}
.emoji-black-question-mark-ornament{background-position:0 -9180px}
.emoji-white-question-mark-ornament{background-position:0 -9200px}
.emoji-white-exclamation-mark-ornament{background-position:0 -9220px}
.emoji-wavy-dash{background-position:0 -9200px}
.emoji-curly-loop{background-position:0 -9200px}
.emoji-double-curly-loop{background-position:0 -9200px}
.emoji-heavy-black-heart{background-position:0 -9240px}
.emoji-beating-heart{background-position:0 -9480px}
.emoji-broken-heart{background-position:0 -9280px}
.emoji-two-hearts{background-position:0 -9480px}
.emoji-sparkling-heart{background-position:0 -9480px}
.emoji-growing-heart{background-position:0 -9340px}
.emoji-heart-with-arrow{background-position:0 -9360px}
.emoji-blue-heart{background-position:0 -9380px}
.emoji-green-heart{background-position:0 -9400px}
.emoji-yellow-heart{background-position:0 -9420px}
.emoji-purple-heart{background-position:0 -9440px}
.emoji-heart-with-ribbon{background-position:0 -9460px}
.emoji-revolving-hearts{background-position:0 -9480px}
.emoji-heart-decoration{background-position:0 -9500px}
.emoji-black-heart-suit{background-position:0 -9520px}
.emoji-black-spade-suit{background-position:0 -9540px}
.emoji-black-diamond-suit{background-position:0 -9560px}
.emoji-black-club-suit{background-position:0 -9580px}
.emoji-smoking-symbol{background-position:0 -9600px}
.emoji-no-smoking-symbol{background-position:0 -9620px}
.emoji-wheelchair-symbol{background-position:0 -9640px}
.emoji-triangular-flag-on-post{background-position:0 -9200px}
.emoji-warning-sign{background-position:0 -9700px}
.emoji-no-entry{background-position:0 -9720px}
.emoji-black-universal-recycling-symbol{background-position:0 -9200px}
.emoji-bicycle{background-position:0 -6980px}
.emoji-pedestrian{background-position:0 -7080px}
.emoji-mens-symbol{background-position:0 -9740px}
.emoji-womens-symbol{background-position:0 -9760px}
.emoji-bath{background-position:0 -5220px}
.emoji-restroom{background-position:0 -5240px}
.emoji-toilet{background-position:0 -5260px}
.emoji-water-closet{background-position:0 -5280px}
.emoji-baby-symbol{background-position:0 -9780px}
.emoji-door{background-position:0 -9200px}
.emoji-no-entry-sign{background-position:0 -9200px}
.emoji-heavy-check-mark{background-position:0 -9200px}
.emoji-squared-cl{background-position:0 -9200px}
.emoji-squared-cool{background-position:0 -10020px}
.emoji-squared-free{background-position:0 -9200px}
.emoji-squared-id{background-position:0 -11020px}
.emoji-squared-new{background-position:0 -9980px}
.emoji-squared-ng{background-position:0 -9200px}
.emoji-squared-ok{background-position:0 -9880px}
.emoji-squared-sos{background-position:0 -9200px}
.emoji-squared-up-with-exclamation-mark{background-position:0 -10000px}
.emoji-squared-vs{background-position:0 -9960px}
.emoji-squared-katakana-koko{background-position:0 -10060px}
.emoji-squared-katakana-sa{background-position:0 -10080px}
.emoji-squared-cjk-unified-ideograph-7981{background-position:0 -9200px}
.emoji-squared-cjk-unified-ideograph-7a7a{background-position:0 -10100px}
.emoji-squared-cjk-unified-ideograph-5408{background-position:0 -9200px}
.emoji-squared-cjk-unified-ideograph-6e80{background-position:0 -10120px}
.emoji-squared-cjk-unified-ideograph-6709{background-position:0 -10140px}
.emoji-squared-cjk-unified-ideograph-7121{background-position:0 -10160px}
.emoji-squared-cjk-unified-ideograph-6708{background-position:0 -10180px}
.emoji-squared-cjk-unified-ideograph-7533{background-position:0 -10200px}
.emoji-squared-cjk-unified-ideograph-5272{background-position:0 -10220px}
.emoji-squared-cjk-unified-ideograph-6307{background-position:0 -10240px}
.emoji-squared-cjk-unified-ideograph-55b6{background-position:0 -10260px}
.emoji-circled-ideograph-secret{background-position:0 -10280px}
.emoji-circled-ideograph-congratulation{background-position:0 -10300px}
.emoji-circled-ideograph-advantage{background-position:0 -10320px}
.emoji-circled-ideograph-accept{background-position:0 -9200px}
.emoji-heavy-plus-sign{background-position:0 -9200px}
.emoji-heavy-minus-sign{background-position:0 -9200px}
.emoji-heavy-multiplication-x{background-position:0 -10340px}
.emoji-heavy-division-sign{background-position:0 -9200px}
.emoji-diamond-shape-with-a-dot-inside{background-position:0 -9200px}
.emoji-electric-light-bulb{background-position:0 -10360px}
.emoji-anger-symbol{background-position:0 -10380px}
.emoji-bomb{background-position:0 -10400px}
.emoji-sleeping-symbol{background-position:0 -10420px}
.emoji-collision-symbol{background-position:0 -9200px}
.emoji-splashing-sweat-symbol{background-position:0 -10460px}
.emoji-droplet{background-position:0 -10460px}
.emoji-dash-symbol{background-position:0 -10480px}
.emoji-pile-of-poo{background-position:0 -5000px}
.emoji-flexed-biceps{background-position:0 -10500px}
.emoji-dizzy-symbol{background-position:0 -10520px}
.emoji-speech-balloon{background-position:0 -9200px}
.emoji-sparkles{background-position:0 -11000px}
.emoji-eight-pointed-black-star{background-position:0 -10560px}
.emoji-eight-spoked-asterisk{background-position:0 -10580px}
.emoji-medium-white-circle{background-position:0 -10640px}
.emoji-medium-black-circle{background-position:0 -10640px}
.emoji-large-red-circle{background-position:0 -10640px}
.emoji-large-blue-circle{background-position:0 -10900px}
.emoji-black-square-button{background-position:0 -10900px}
.emoji-white-square-button{background-position:0 -10980px}
.emoji-white-medium-star{background-position:0 -10720px}
.emoji-white-large-square{background-position:0 -10980px}
.emoji-black-large-square{background-position:0 -10900px}
.emoji-white-small-square{background-position:0 -10980px}
.emoji-black-small-square{background-position:0 -10900px}
.emoji-white-medium-small-square{background-position:0 -10980px}
.emoji-black-medium-small-square{background-position:0 -10900px}
.emoji-white-medium-square{background-position:0 -10980px}
.emoji-black-medium-square{background-position:0 -10900px}
.emoji-large-orange-diamond{background-position:0 -10980px}
.emoji-large-blue-diamond{background-position:0 -10980px}
.emoji-small-orange-diamond{background-position:0 -10980px}
.emoji-small-blue-diamond{background-position:0 -10980px}
.emoji-sparkle{background-position:0 -11000px}
.emoji-white-flower{background-position:0 -9200px}
.emoji-hundred-points-symbol{background-position:0 -9200px}
.emoji-leftwards-arrow-with-hook{background-position:0 -9200px}
.emoji-rightwards-arrow-with-hook{background-position:0 -9200px}
.emoji-clockwise-downwards-and-upwards-open-circle-arrows{background-position:0 -9200px}
.emoji-speaker-with-three-sound-waves{background-position:0 -7880px}
.emoji-battery{background-position:0 -9200px}
.emoji-electric-plug{background-position:0 -9200px}
.emoji-left-pointing-magnifying-glass{background-position:0 -11060px}
.emoji-right-pointing-magnifying-glass{background-position:0 -11060px}
.emoji-lock{background-position:0 -11140px}
.emoji-open-lock{background-position:0 -11100px}
.emoji-lock-with-ink-pen{background-position:0 -11140px}
.emoji-closed-lock-with-key{background-position:0 -11140px}
.emoji-key{background-position:0 -11160px}
.emoji-bell{background-position:0 -4980px}
.emoji-ballot-box-with-check{background-position:0 -9200px}
.emoji-radio-button{background-position:0 -9200px}
.emoji-bookmark{background-position:0 -9200px}
.emoji-link-symbol{background-position:0 -9200px}
.emoji-back-with-leftwards-arrow-above{background-position:0 -11180px}
.emoji-end-with-leftwards-arrow-above{background-position:0 -9200px}
.emoji-on-with-exclamation-mark-with-left-right-arrow-above{background-position:0 -9200px}
.emoji-soon-with-rightwards-arrow-above{background-position:0 -9200px}
.emoji-top-with-upwards-arrow-above{background-position:0 -10040px}
.emoji-em-space{background-position:0 -9200px}
.emoji-en-space{background-position:0 -9200px}
.emoji-four-per-em-space{background-position:0 -9200px}
.emoji-white-heavy-check-mark{background-position:0 -9200px}
.emoji-raised-fist{background-position:0 -11220px}
.emoji-raised-hand{background-position:0 -11240px}
.emoji-victory-hand{background-position:0 -11260px}
.emoji-fisted-hand-sign{background-position:0 -11280px}
.emoji-thumbs-up-sign{background-position:0 -11300px}
.emoji-white-up-pointing-index{background-position:0 -11320px}
.emoji-white-up-pointing-backhand-index{background-position:0 -11340px}
.emoji-white-down-pointing-backhand-index{background-position:0 -11360px}
.emoji-white-left-pointing-backhand-index{background-position:0 -11380px}
.emoji-white-right-pointing-backhand-index{background-position:0 -11400px}
.emoji-waving-hand-sign{background-position:0 -11420px}
.emoji-clapping-hands-sign{background-position:0 -11440px}
.emoji-ok-hand-sign{background-position:0 -11460px}
.emoji-thumbs-down-sign{background-position:0 -11480px}
.emoji-open-hands-sign{background-position:0 -11500px}
