.emoji {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: baseline;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	width: 1em;
	height: 1em;
	background-size: 1em;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.emoji-black-sun-with-rays{background-image: url(emoji/2600.png)}
.emoji-cloud{background-image: url(emoji/2601.png)}
.emoji-umbrella-with-rain-drops{background-image: url(emoji/2614.png)}
.emoji-snowman-without-snow{background-image: url(emoji/26c4.png)}
.emoji-high-voltage-sign{background-image: url(emoji/26a1.png)}
.emoji-cyclone{background-image: url(emoji/1f300.png)}
.emoji-foggy{background-image: url(emoji/1f301.png)}
.emoji-closed-umbrella{background-image: url(emoji/1f302.png)}
.emoji-night-with-stars{background-image: url(emoji/1f303.png)}
.emoji-sunrise-over-mountains{background-image: url(emoji/1f304.png)}
.emoji-sunrise{background-image: url(emoji/1f305.png)}
.emoji-cityscape-at-dusk{background-image: url(emoji/1f306.png)}
.emoji-sunset-over-buildings{background-image: url(emoji/1f307.png)}
.emoji-rainbow{background-image: url(emoji/1f308.png)}
.emoji-snowflake{background-image: url(emoji/2744.png)}
.emoji-sun-behind-cloud{background-image: url(emoji/26c5.png)}
.emoji-bridge-at-night{background-image: url(emoji/1f309.png)}
.emoji-water-wave{background-image: url(emoji/1f30a.png)}
.emoji-volcano{background-image: url(emoji/1f30b.png)}
.emoji-milky-way{background-image: url(emoji/1f30c.png)}
.emoji-earth-globe-asia-australia{background-image: url(emoji/1f30f.png)}
.emoji-new-moon-symbol{background-image: url(emoji/1f311.png)}
.emoji-waxing-gibbous-moon-symbol{background-image: url(emoji/1f314.png)}
.emoji-first-quarter-moon-symbol{background-image: url(emoji/1f313.png)}
.emoji-crescent-moon{background-image: url(emoji/1f319.png)}
.emoji-full-moon-symbol{background-image: url(emoji/1f315.png)}
.emoji-first-quarter-moon-with-face{background-image: url(emoji/1f31b.png)}
.emoji-glowing-star{background-image: url(emoji/1f31f.png)}
.emoji-shooting-star{background-image: url(emoji/2754.png)}
.emoji-clock-face-one-oclock{background-image: url(emoji/1f550.png)}
.emoji-clock-face-two-oclock{background-image: url(emoji/1f551.png)}
.emoji-clock-face-three-oclock{background-image: url(emoji/1f552.png)}
.emoji-clock-face-four-oclock{background-image: url(emoji/1f553.png)}
.emoji-clock-face-five-oclock{background-image: url(emoji/1f554.png)}
.emoji-clock-face-six-oclock{background-image: url(emoji/1f555.png)}
.emoji-clock-face-seven-oclock{background-image: url(emoji/1f556.png)}
.emoji-clock-face-eight-oclock{background-image: url(emoji/1f557.png)}
.emoji-clock-face-nine-oclock{background-image: url(emoji/1f558.png)}
.emoji-clock-face-ten-oclock{background-image: url(emoji/1f559.png)}
.emoji-clock-face-eleven-oclock{background-image: url(emoji/1f55a.png)}
.emoji-clock-face-twelve-oclock{background-image: url(emoji/1f55b.png)}
.emoji-watch{background-image: url(emoji/231a.png)}
.emoji-hourglass{background-image: url(emoji/231b.png)}
.emoji-alarm-clock{background-image: url(emoji/23f0.png)}
.emoji-hourglass-with-flowing-sand{background-image: url(emoji/23f3.png)}
.emoji-aries{background-image: url(emoji/2648.png)}
.emoji-taurus{background-image: url(emoji/2649.png)}
.emoji-gemini{background-image: url(emoji/264a.png)}
.emoji-cancer{background-image: url(emoji/264b.png)}
.emoji-leo{background-image: url(emoji/264c.png)}
.emoji-virgo{background-image: url(emoji/264d.png)}
.emoji-libra{background-image: url(emoji/264e.png)}
.emoji-scorpius{background-image: url(emoji/264f.png)}
.emoji-sagittarius{background-image: url(emoji/2650.png)}
.emoji-capricorn{background-image: url(emoji/2651.png)}
.emoji-aquarius{background-image: url(emoji/2652.png)}
.emoji-pisces{background-image: url(emoji/2653.png)}
.emoji-ophiuchus{background-image: url(emoji/26ce.png)}
.emoji-four-leaf-clover{background-image: url(emoji/1f340.png)}
.emoji-tulip{background-image: url(emoji/1f337.png)}
.emoji-seedling{background-image: url(emoji/1f331.png)}
.emoji-maple-leaf{background-image: url(emoji/1f341.png)}
.emoji-cherry-blossom{background-image: url(emoji/1f338.png)}
.emoji-rose{background-image: url(emoji/1f339.png)}
.emoji-fallen-leaf{background-image: url(emoji/1f342.png)}
.emoji-leaf-fluttering-in-wind{background-image: url(emoji/1f343.png)}
.emoji-hibiscus{background-image: url(emoji/1f33a.png)}
.emoji-sunflower{background-image: url(emoji/1f33b.png)}
.emoji-palm-tree{background-image: url(emoji/1f334.png)}
.emoji-cactus{background-image: url(emoji/1f335.png)}
.emoji-ear-of-rice{background-image: url(emoji/1f33e.png)}
.emoji-ear-of-maize{background-image: url(emoji/1f33d.png)}
.emoji-mushroom{background-image: url(emoji/1f344.png)}
.emoji-chestnut{background-image: url(emoji/1f330.png)}
.emoji-blossom{background-image: url(emoji/1f33c.png)}
.emoji-herb{background-image: url(emoji/1f33f.png)}
.emoji-cherries{background-image: url(emoji/1f352.png)}
.emoji-banana{background-image: url(emoji/1f34c.png)}
.emoji-red-apple{background-image: url(emoji/1f34e.png)}
.emoji-tangerine{background-image: url(emoji/1f34a.png)}
.emoji-strawberry{background-image: url(emoji/1f353.png)}
.emoji-watermelon{background-image: url(emoji/1f349.png)}
.emoji-tomato{background-image: url(emoji/1f345.png)}
.emoji-aubergine{background-image: url(emoji/1f346.png)}
.emoji-melon{background-image: url(emoji/1f348.png)}
.emoji-pineapple{background-image: url(emoji/1f34d.png)}
.emoji-grapes{background-image: url(emoji/1f347.png)}
.emoji-peach{background-image: url(emoji/1f351.png)}
.emoji-green-apple{background-image: url(emoji/1f34f.png)}
.emoji-eyes{background-image: url(emoji/1f440.png)}
.emoji-ear{background-image: url(emoji/1f442.png)}
.emoji-nose{background-image: url(emoji/1f443.png)}
.emoji-mouth{background-image: url(emoji/1f444.png)}
.emoji-tongue{background-image: url(emoji/1f445.png)}
.emoji-lipstick{background-image: url(emoji/1f484.png)}
.emoji-nail-polish{background-image: url(emoji/1f485.png)}
.emoji-face-massage{background-image: url(emoji/1f486.png)}
.emoji-haircut{background-image: url(emoji/1f487.png)}
.emoji-barber-pole{background-image: url(emoji/1f488.png)}
.emoji-bust-in-silhouette{background-image: url(emoji/1f464.png)}
.emoji-boy{background-image: url(emoji/1f466.png)}
.emoji-girl{background-image: url(emoji/1f467.png)}
.emoji-man{background-image: url(emoji/1f468.png)}
.emoji-woman{background-image: url(emoji/1f469.png)}
.emoji-family{background-image: url(emoji/1f46a.png)}
.emoji-man-and-woman-holding-hands{background-image: url(emoji/1f46b.png)}
.emoji-police-officer{background-image: url(emoji/1f46e.png)}
.emoji-woman-with-bunny-ears{background-image: url(emoji/1f46f.png)}
.emoji-bride-with-veil{background-image: url(emoji/1f470.png)}
.emoji-person-with-blond-hair{background-image: url(emoji/1f471.png)}
.emoji-man-with-gua-pi-mao{background-image: url(emoji/1f472.png)}
.emoji-man-with-turban{background-image: url(emoji/1f473.png)}
.emoji-older-man{background-image: url(emoji/1f474.png)}
.emoji-older-woman{background-image: url(emoji/1f475.png)}
.emoji-baby{background-image: url(emoji/1f476.png)}
.emoji-construction-worker{background-image: url(emoji/1f477.png)}
.emoji-princess{background-image: url(emoji/1f478.png)}
.emoji-japanese-ogre{background-image: url(emoji/1f479.png)}
.emoji-japanese-goblin{background-image: url(emoji/1f47a.png)}
.emoji-ghost{background-image: url(emoji/1f47b.png)}
.emoji-baby-angel{background-image: url(emoji/1f47c.png)}
.emoji-extraterrestrial-alien{background-image: url(emoji/1f47d.png)}
.emoji-alien-monster{background-image: url(emoji/1f47e.png)}
.emoji-imp{background-image: url(emoji/1f47f.png)}
.emoji-skull{background-image: url(emoji/1f480.png)}
.emoji-information-desk-person{background-image: url(emoji/1f481.png)}
.emoji-guardsman{background-image: url(emoji/1f482.png)}
.emoji-dancer{background-image: url(emoji/1f483.png)}
.emoji-snail{background-image: url(emoji/1f40c.png)}
.emoji-snake{background-image: url(emoji/1f40d.png)}
.emoji-horse{background-image: url(emoji/1f40e.png)}
.emoji-chicken{background-image: url(emoji/1f414.png)}
.emoji-boar{background-image: url(emoji/1f417.png)}
.emoji-bactrian-camel{background-image: url(emoji/1f42b.png)}
.emoji-elephant{background-image: url(emoji/1f418.png)}
.emoji-koala{background-image: url(emoji/1f428.png)}
.emoji-monkey{background-image: url(emoji/1f412.png)}
.emoji-sheep{background-image: url(emoji/1f411.png)}
.emoji-octopus{background-image: url(emoji/1f419.png)}
.emoji-spiral-shell{background-image: url(emoji/1f41a.png)}
.emoji-bug{background-image: url(emoji/1f41b.png)}
.emoji-ant{background-image: url(emoji/1f41c.png)}
.emoji-honeybee{background-image: url(emoji/1f41d.png)}
.emoji-lady-beetle{background-image: url(emoji/1f41e.png)}
.emoji-tropical-fish{background-image: url(emoji/1f420.png)}
.emoji-blowfish{background-image: url(emoji/1f421.png)}
.emoji-turtle{background-image: url(emoji/1f422.png)}
.emoji-baby-chick{background-image: url(emoji/1f424.png)}
.emoji-front-facing-baby-chick{background-image: url(emoji/1f425.png)}
.emoji-bird{background-image: url(emoji/1f426.png)}
.emoji-hatching-chick{background-image: url(emoji/1f423.png)}
.emoji-penguin{background-image: url(emoji/1f427.png)}
.emoji-poodle{background-image: url(emoji/1f429.png)}
.emoji-fish{background-image: url(emoji/1f41f.png)}
.emoji-dolphin{background-image: url(emoji/1f42c.png)}
.emoji-mouse-face{background-image: url(emoji/1f42d.png)}
.emoji-tiger-face{background-image: url(emoji/1f42f.png)}
.emoji-cat-face{background-image: url(emoji/1f431.png)}
.emoji-spouting-whale{background-image: url(emoji/1f433.png)}
.emoji-horse-face{background-image: url(emoji/1f434.png)}
.emoji-monkey-face{background-image: url(emoji/1f435.png)}
.emoji-dog-face{background-image: url(emoji/1f436.png)}
.emoji-pig-face{background-image: url(emoji/1f437.png)}
.emoji-bear-face{background-image: url(emoji/1f43b.png)}
.emoji-hamster-face{background-image: url(emoji/1f439.png)}
.emoji-wolf-face{background-image: url(emoji/1f43a.png)}
.emoji-cow-face{background-image: url(emoji/1f42e.png)}
.emoji-rabbit-face{background-image: url(emoji/1f430.png)}
.emoji-frog-face{background-image: url(emoji/1f438.png)}
.emoji-paw-prints{background-image: url(emoji/1f43e.png)}
.emoji-dragon-face{background-image: url(emoji/1f432.png)}
.emoji-panda-face{background-image: url(emoji/1f43c.png)}
.emoji-pig-nose{background-image: url(emoji/1f43d.png)}
.emoji-angry-face{background-image: url(emoji/1f620.png)}
.emoji-weary-face{background-image: url(emoji/1f629.png)}
.emoji-astonished-face{background-image: url(emoji/1f632.png)}
.emoji-disappointed-face{background-image: url(emoji/1f61e.png)}
.emoji-dizzy-face{background-image: url(emoji/1f635.png)}
.emoji-face-with-open-mouth-and-cold-sweat{background-image: url(emoji/1f630.png)}
.emoji-unamused-face{background-image: url(emoji/1f612.png)}
.emoji-smiling-face-with-heart-shaped-eyes{background-image: url(emoji/1f60d.png)}
.emoji-face-with-look-of-triumph{background-image: url(emoji/1f624.png)}
.emoji-face-with-stuck-out-tongue-and-winking-eye{background-image: url(emoji/1f61c.png)}
.emoji-face-with-stuck-out-tongue-and-tightly-closed-eyes{background-image: url(emoji/1f61d.png)}
.emoji-face-savouring-delicious-food{background-image: url(emoji/1f60b.png)}
.emoji-face-throwing-a-kiss{background-image: url(emoji/1f618.png)}
.emoji-kissing-face-with-closed-eyes{background-image: url(emoji/1f61a.png)}
.emoji-face-with-medical-mask{background-image: url(emoji/1f637.png)}
.emoji-flushed-face{background-image: url(emoji/1f633.png)}
.emoji-smiling-face-with-open-mouth{background-image: url(emoji/1f603.png)}
.emoji-smiling-face-with-open-mouth-and-cold-sweat{background-image: url(emoji/1f605.png)}
.emoji-smiling-face-with-open-mouth-and-tightly-closed-eyes{background-image: url(emoji/1f606.png)}
.emoji-grinning-face-with-smiling-eyes{background-image: url(emoji/1f601.png)}
.emoji-face-with-tears-of-joy{background-image: url(emoji/1f602.png)}
.emoji-smiling-face-with-smiling-eyes{background-image: url(emoji/1f60a.png)}
.emoji-white-smiling-face{background-image: url(emoji/263a.png)}
.emoji-smiling-face-with-open-mouth-and-smiling-eyes{background-image: url(emoji/1f604.png)}
.emoji-crying-face{background-image: url(emoji/1f622.png)}
.emoji-loudly-crying-face{background-image: url(emoji/1f62d.png)}
.emoji-fearful-face{background-image: url(emoji/1f628.png)}
.emoji-persevering-face{background-image: url(emoji/1f623.png)}
.emoji-pouting-face{background-image: url(emoji/1f621.png)}
.emoji-relieved-face{background-image: url(emoji/1f60c.png)}
.emoji-confounded-face{background-image: url(emoji/1f616.png)}
.emoji-pensive-face{background-image: url(emoji/1f614.png)}
.emoji-face-screaming-in-fear{background-image: url(emoji/1f631.png)}
.emoji-sleepy-face{background-image: url(emoji/1f62a.png)}
.emoji-smirking-face{background-image: url(emoji/1f60f.png)}
.emoji-face-with-cold-sweat{background-image: url(emoji/1f613.png)}
.emoji-disappointed-but-relieved-face{background-image: url(emoji/1f625.png)}
.emoji-tired-face{background-image: url(emoji/1f62b.png)}
.emoji-winking-face{background-image: url(emoji/1f609.png)}
.emoji-smiling-cat-face-with-open-mouth{background-image: url(emoji/1f63a.png)}
.emoji-grinning-cat-face-with-smiling-eyes{background-image: url(emoji/1f638.png)}
.emoji-cat-face-with-tears-of-joy{background-image: url(emoji/1f639.png)}
.emoji-kissing-cat-face-with-closed-eyes{background-image: url(emoji/1f63d.png)}
.emoji-smiling-cat-face-with-heart-shaped-eyes{background-image: url(emoji/1f63b.png)}
.emoji-crying-cat-face{background-image: url(emoji/1f63f.png)}
.emoji-pouting-cat-face{background-image: url(emoji/1f63e.png)}
.emoji-cat-face-with-wry-smile{background-image: url(emoji/1f63c.png)}
.emoji-weary-cat-face{background-image: url(emoji/1f640.png)}
.emoji-face-with-no-good-gesture{background-image: url(emoji/1f645.png)}
.emoji-face-with-ok-gesture{background-image: url(emoji/1f646.png)}
.emoji-person-bowing-deeply{background-image: url(emoji/1f647.png)}
.emoji-see-no-evil-monkey{background-image: url(emoji/1f648.png)}
.emoji-speak-no-evil-monkey{background-image: url(emoji/1f64a.png)}
.emoji-hear-no-evil-monkey{background-image: url(emoji/1f649.png)}
.emoji-happy-person-raising-one-hand{background-image: url(emoji/1f64b.png)}
.emoji-person-raising-both-hands-in-celebration{background-image: url(emoji/1f64c.png)}
.emoji-person-frowning{background-image: url(emoji/1f64d.png)}
.emoji-person-with-pouting-face{background-image: url(emoji/1f64e.png)}
.emoji-person-with-folded-hands{background-image: url(emoji/1f64f.png)}
.emoji-house-building{background-image: url(emoji/1f3e0.png)}
.emoji-house-with-garden{background-image: url(emoji/1f3e1.png)}
.emoji-office-building{background-image: url(emoji/1f3e2.png)}
.emoji-japanese-post-office{background-image: url(emoji/1f3e3.png)}
.emoji-hospital{background-image: url(emoji/1f3e5.png)}
.emoji-bank{background-image: url(emoji/1f3e6.png)}
.emoji-automated-teller-machine{background-image: url(emoji/1f3e7.png)}
.emoji-hotel{background-image: url(emoji/1f3e8.png)}
.emoji-love-hotel{background-image: url(emoji/1f3e9.png)}
.emoji-convenience-store{background-image: url(emoji/1f3ea.png)}
.emoji-school{background-image: url(emoji/1f3eb.png)}
.emoji-church{background-image: url(emoji/26ea.png)}
.emoji-fountain{background-image: url(emoji/26f2.png)}
.emoji-department-store{background-image: url(emoji/1f3ec.png)}
.emoji-japanese-castle{background-image: url(emoji/1f3ef.png)}
.emoji-european-castle{background-image: url(emoji/1f3f0.png)}
.emoji-factory{background-image: url(emoji/1f3ed.png)}
.emoji-anchor{background-image: url(emoji/2693.png)}
.emoji-izakaya-lantern{background-image: url(emoji/1f3ee.png)}
.emoji-mount-fuji{background-image: url(emoji/1f5fb.png)}
.emoji-tokyo-tower{background-image: url(emoji/1f5fc.png)}
.emoji-statue-of-liberty{background-image: url(emoji/1f5fd.png)}
.emoji-silhouette-of-japan{background-image: url(emoji/1f5fe.png)}
.emoji-moyai{background-image: url(emoji/1f5ff.png)}
.emoji-mans-shoe{background-image: url(emoji/1f45e.png)}
.emoji-athletic-shoe{background-image: url(emoji/1f45f.png)}
.emoji-high-heeled-shoe{background-image: url(emoji/1f460.png)}
.emoji-womans-sandal{background-image: url(emoji/1f461.png)}
.emoji-womans-boots{background-image: url(emoji/1f462.png)}
.emoji-footprints{background-image: url(emoji/1f463.png)}
.emoji-eyeglasses{background-image: url(emoji/1f453.png)}
.emoji-t-shirt{background-image: url(emoji/1f455.png)}
.emoji-jeans{background-image: url(emoji/1f456.png)}
.emoji-crown{background-image: url(emoji/1f451.png)}
.emoji-necktie{background-image: url(emoji/1f454.png)}
.emoji-womans-hat{background-image: url(emoji/1f452.png)}
.emoji-dress{background-image: url(emoji/1f457.png)}
.emoji-kimono{background-image: url(emoji/1f458.png)}
.emoji-bikini{background-image: url(emoji/1f459.png)}
.emoji-womans-clothes{background-image: url(emoji/1f45a.png)}
.emoji-purse{background-image: url(emoji/1f45b.png)}
.emoji-handbag{background-image: url(emoji/1f45c.png)}
.emoji-pouch{background-image: url(emoji/1f45d.png)}
.emoji-money-bag{background-image: url(emoji/1f4b0.png)}
.emoji-currency-exchange{background-image: url(emoji/1f4b1.png)}
.emoji-chart-with-upwards-trend-and-yen-sign{background-image: url(emoji/1f4b9.png)}
.emoji-heavy-dollar-sign{background-image: url(emoji/1f4b2.png)}
.emoji-credit-card{background-image: url(emoji/1f4b3.png)}
.emoji-banknote-with-yen-sign{background-image: url(emoji/1f4b4.png)}
.emoji-banknote-with-dollar-sign{background-image: url(emoji/1f4b5.png)}
.emoji-money-with-wings{background-image: url(emoji/1f4b8.png)}
.emoji-regional-indicator-symbol-letters-cn{background-image: url(emoji/1f1e8-1f1f3.png)}
.emoji-regional-indicator-symbol-letters-de{background-image: url(emoji/1f1e9-1f1ea.png)}
.emoji-regional-indicator-symbol-letters-es{background-image: url(emoji/1f1ea-1f1f8.png)}
.emoji-regional-indicator-symbol-letters-fr{background-image: url(emoji/1f1eb-1f1f7.png)}
.emoji-regional-indicator-symbol-letters-gb{background-image: url(emoji/1f1ec-1f1e7.png)}
.emoji-regional-indicator-symbol-letters-it{background-image: url(emoji/1f1ee-1f1f9.png)}
.emoji-regional-indicator-symbol-letters-jp{background-image: url(emoji/1f1ef-1f1f5.png)}
.emoji-regional-indicator-symbol-letters-kr{background-image: url(emoji/1f1f0-1f1f7.png)}
.emoji-regional-indicator-symbol-letters-ru{background-image: url(emoji/1f1f7-1f1fa.png)}
.emoji-regional-indicator-symbol-letters-us{background-image: url(emoji/1f1fa-1f1f8.png)}
.emoji-fire{background-image: url(emoji/1f525.png)}
.emoji-electric-torch{background-image: url(emoji/1f526.png)}
.emoji-wrench{background-image: url(emoji/1f527.png)}
.emoji-hammer{background-image: url(emoji/1f528.png)}
.emoji-nut-and-bolt{background-image: url(emoji/1f529.png)}
.emoji-hocho{background-image: url(emoji/1f52a.png)}
.emoji-pistol{background-image: url(emoji/1f52b.png)}
.emoji-crystal-ball{background-image: url(emoji/1f52e.png)}
.emoji-six-pointed-star-with-middle-dot{background-image: url(emoji/1f52f.png)}
.emoji-japanese-symbol-for-beginner{background-image: url(emoji/1f530.png)}
.emoji-trident-emblem{background-image: url(emoji/1f531.png)}
.emoji-syringe{background-image: url(emoji/1f489.png)}
.emoji-pill{background-image: url(emoji/1f48a.png)}
.emoji-negative-squared-latin-capital-letter-a{background-image: url(emoji/1f170.png)}
.emoji-negative-squared-latin-capital-letter-b{background-image: url(emoji/1f171.png)}
.emoji-negative-squared-ab{background-image: url(emoji/1f18e.png)}
.emoji-negative-squared-latin-capital-letter-o{background-image: url(emoji/1f17e.png)}
.emoji-ribbon{background-image: url(emoji/1f380.png)}
.emoji-wrapped-present{background-image: url(emoji/1f381.png)}
.emoji-birthday-cake{background-image: url(emoji/1f382.png)}
.emoji-christmas-tree{background-image: url(emoji/1f384.png)}
.emoji-father-christmas{background-image: url(emoji/1f385.png)}
.emoji-crossed-flags{background-image: url(emoji/1f38c.png)}
.emoji-fireworks{background-image: url(emoji/1f386.png)}
.emoji-balloon{background-image: url(emoji/1f388.png)}
.emoji-party-popper{background-image: url(emoji/1f389.png)}
.emoji-pine-decoration{background-image: url(emoji/1f38d.png)}
.emoji-japanese-dolls{background-image: url(emoji/1f38e.png)}
.emoji-graduation-cap{background-image: url(emoji/1f393.png)}
.emoji-school-satchel{background-image: url(emoji/1f392.png)}
.emoji-carp-streamer{background-image: url(emoji/1f38f.png)}
.emoji-firework-sparkler{background-image: url(emoji/1f387.png)}
.emoji-wind-chime{background-image: url(emoji/1f390.png)}
.emoji-jack-o-lantern{background-image: url(emoji/1f383.png)}
.emoji-confetti-ball{background-image: url(emoji/1f38a.png)}
.emoji-tanabata-tree{background-image: url(emoji/1f38b.png)}
.emoji-moon-viewing-ceremony{background-image: url(emoji/1f391.png)}
.emoji-pager{background-image: url(emoji/1f4df.png)}
.emoji-black-telephone{background-image: url(emoji/260e.png)}
.emoji-telephone-receiver{background-image: url(emoji/1f4de.png)}
.emoji-mobile-phone{background-image: url(emoji/1f4f1.png)}
.emoji-mobile-phone-with-rightwards-arrow-at-left{background-image: url(emoji/1f4f2.png)}
.emoji-memo{background-image: url(emoji/1f4dd.png)}
.emoji-fax-machine{background-image: url(emoji/1f4e0.png)}
.emoji-envelope{background-image: url(emoji/2709.png)}
.emoji-incoming-envelope{background-image: url(emoji/1f4e8.png)}
.emoji-envelope-with-downwards-arrow-above{background-image: url(emoji/1f4e9.png)}
.emoji-closed-mailbox-with-lowered-flag{background-image: url(emoji/1f4ea.png)}
.emoji-closed-mailbox-with-raised-flag{background-image: url(emoji/1f4eb.png)}
.emoji-postbox{background-image: url(emoji/1f4ee.png)}
.emoji-newspaper{background-image: url(emoji/1f4f0.png)}
.emoji-public-address-loudspeaker{background-image: url(emoji/1f4e2.png)}
.emoji-cheering-megaphone{background-image: url(emoji/1f4e3.png)}
.emoji-satellite-antenna{background-image: url(emoji/1f4e1.png)}
.emoji-outbox-tray{background-image: url(emoji/1f4e4.png)}
.emoji-inbox-tray{background-image: url(emoji/1f4e5.png)}
.emoji-package{background-image: url(emoji/1f4e6.png)}
.emoji-e-mail-symbol{background-image: url(emoji/1f4e7.png)}
.emoji-input-symbol-for-latin-capital-letters{background-image: url(emoji/1f520.png)}
.emoji-input-symbol-for-latin-small-letters{background-image: url(emoji/1f521.png)}
.emoji-input-symbol-for-numbers{background-image: url(emoji/1f522.png)}
.emoji-input-symbol-for-symbols{background-image: url(emoji/1f523.png)}
.emoji-input-symbol-for-latin-letters{background-image: url(emoji/1f524.png)}
.emoji-black-nib{background-image: url(emoji/2712.png)}
.emoji-seat{background-image: url(emoji/1f4ba.png)}
.emoji-personal-computer{background-image: url(emoji/1f4bb.png)}
.emoji-pencil{background-image: url(emoji/270f.png)}
.emoji-paperclip{background-image: url(emoji/1f4ce.png)}
.emoji-briefcase{background-image: url(emoji/1f4bc.png)}
.emoji-minidisc{background-image: url(emoji/1f4bd.png)}
.emoji-floppy-disk{background-image: url(emoji/1f4be.png)}
.emoji-optical-disc{background-image: url(emoji/1f4bf.png)}
.emoji-dvd{background-image: url(emoji/1f4c0.png)}
.emoji-black-scissors{background-image: url(emoji/2702.png)}
.emoji-round-pushpin{background-image: url(emoji/1f4cd.png)}
.emoji-page-with-curl{background-image: url(emoji/1f4c3.png)}
.emoji-page-facing-up{background-image: url(emoji/1f4c4.png)}
.emoji-calendar{background-image: url(emoji/1f4c5.png)}
.emoji-file-folder{background-image: url(emoji/1f4c1.png)}
.emoji-open-file-folder{background-image: url(emoji/1f4c2.png)}
.emoji-notebook{background-image: url(emoji/1f4d3.png)}
.emoji-open-book{background-image: url(emoji/1f4d6.png)}
.emoji-notebook-with-decorative-cover{background-image: url(emoji/1f4d4.png)}
.emoji-closed-book{background-image: url(emoji/1f4d5.png)}
.emoji-green-book{background-image: url(emoji/1f4d7.png)}
.emoji-blue-book{background-image: url(emoji/1f4d8.png)}
.emoji-orange-book{background-image: url(emoji/1f4d9.png)}
.emoji-books{background-image: url(emoji/1f4da.png)}
.emoji-name-badge{background-image: url(emoji/1f4db.png)}
.emoji-scroll{background-image: url(emoji/1f4dc.png)}
.emoji-clipboard{background-image: url(emoji/1f4cb.png)}
.emoji-tear-off-calendar{background-image: url(emoji/1f4c6.png)}
.emoji-bar-chart{background-image: url(emoji/1f4ca.png)}
.emoji-chart-with-upwards-trend{background-image: url(emoji/1f4c8.png)}
.emoji-chart-with-downwards-trend{background-image: url(emoji/1f4c9.png)}
.emoji-card-index{background-image: url(emoji/1f4c7.png)}
.emoji-pushpin{background-image: url(emoji/1f4cc.png)}
.emoji-ledger{background-image: url(emoji/1f4d2.png)}
.emoji-straight-ruler{background-image: url(emoji/1f4cf.png)}
.emoji-triangular-ruler{background-image: url(emoji/1f4d0.png)}
.emoji-bookmark-tabs{background-image: url(emoji/1f4d1.png)}
.emoji-running-shirt-with-sash{background-image: url(emoji/1f3bd.png)}
.emoji-baseball{background-image: url(emoji/26be.png)}
.emoji-flag-in-hole{background-image: url(emoji/26f3.png)}
.emoji-tennis-racquet-and-ball{background-image: url(emoji/1f3be.png)}
.emoji-soccer-ball{background-image: url(emoji/26bd.png)}
.emoji-ski-and-ski-boot{background-image: url(emoji/1f3bf.png)}
.emoji-basketball-and-hoop{background-image: url(emoji/1f3c0.png)}
.emoji-chequered-flag{background-image: url(emoji/1f3c1.png)}
.emoji-snowboarder{background-image: url(emoji/1f3c2.png)}
.emoji-runner{background-image: url(emoji/1f3c3.png)}
.emoji-surfer{background-image: url(emoji/1f3c4.png)}
.emoji-trophy{background-image: url(emoji/1f3c6.png)}
.emoji-american-football{background-image: url(emoji/1f3c8.png)}
.emoji-swimmer{background-image: url(emoji/1f3ca.png)}
.emoji-railway-car{background-image: url(emoji/1f683.png)}
.emoji-metro{background-image: url(emoji/1f687.png)}
.emoji-circled-latin-capital-letter-m{background-image: url(emoji/24c2.png)}
.emoji-high-speed-train{background-image: url(emoji/1f684.png)}
.emoji-high-speed-train-with-bullet-nose{background-image: url(emoji/1f685.png)}
.emoji-automobile{background-image: url(emoji/1f697.png)}
.emoji-recreational-vehicle{background-image: url(emoji/1f699.png)}
.emoji-bus{background-image: url(emoji/1f68c.png)}
.emoji-bus-stop{background-image: url(emoji/1f68f.png)}
.emoji-ship{background-image: url(emoji/1f6a2.png)}
.emoji-airplane{background-image: url(emoji/2708.png)}
.emoji-sailboat{background-image: url(emoji/26f5.png)}
.emoji-station{background-image: url(emoji/1f689.png)}
.emoji-rocket{background-image: url(emoji/1f680.png)}
.emoji-speedboat{background-image: url(emoji/1f6a4.png)}
.emoji-taxi{background-image: url(emoji/1f695.png)}
.emoji-delivery-truck{background-image: url(emoji/1f69a.png)}
.emoji-fire-engine{background-image: url(emoji/1f692.png)}
.emoji-ambulance{background-image: url(emoji/1f691.png)}
.emoji-police-car{background-image: url(emoji/1f693.png)}
.emoji-fuel-pump{background-image: url(emoji/26fd.png)}
.emoji-negative-squared-latin-capital-letter-p{background-image: url(emoji/1f17f.png)}
.emoji-horizontal-traffic-light{background-image: url(emoji/1f6a5.png)}
.emoji-construction-sign{background-image: url(emoji/1f6a7.png)}
.emoji-police-cars-revolving-light{background-image: url(emoji/1f6a8.png)}
.emoji-hot-springs{background-image: url(emoji/2668.png)}
.emoji-tent{background-image: url(emoji/26fa.png)}
.emoji-carousel-horse{background-image: url(emoji/1f3a0.png)}
.emoji-ferris-wheel{background-image: url(emoji/1f3a1.png)}
.emoji-roller-coaster{background-image: url(emoji/1f3a2.png)}
.emoji-fishing-pole-and-fish{background-image: url(emoji/1f3a3.png)}
.emoji-microphone{background-image: url(emoji/1f3a4.png)}
.emoji-movie-camera{background-image: url(emoji/1f3a5.png)}
.emoji-cinema{background-image: url(emoji/1f3a6.png)}
.emoji-headphone{background-image: url(emoji/1f3a7.png)}
.emoji-artist-palette{background-image: url(emoji/1f3a8.png)}
.emoji-top-hat{background-image: url(emoji/1f3a9.png)}
.emoji-circus-tent{background-image: url(emoji/1f3aa.png)}
.emoji-ticket{background-image: url(emoji/1f3ab.png)}
.emoji-clapper-board{background-image: url(emoji/1f3ac.png)}
.emoji-performing-arts{background-image: url(emoji/1f3ad.png)}
.emoji-video-game{background-image: url(emoji/1f3ae.png)}
.emoji-mahjong-tile-red-dragon{background-image: url(emoji/1f004.png)}
.emoji-direct-hit{background-image: url(emoji/1f3af.png)}
.emoji-slot-machine{background-image: url(emoji/1f3b0.png)}
.emoji-billiards{background-image: url(emoji/1f3b1.png)}
.emoji-game-die{background-image: url(emoji/1f3b2.png)}
.emoji-bowling{background-image: url(emoji/1f3b3.png)}
.emoji-flower-playing-cards{background-image: url(emoji/1f3b4.png)}
.emoji-playing-card-black-joker{background-image: url(emoji/1f0cf.png)}
.emoji-musical-note{background-image: url(emoji/1f3b5.png)}
.emoji-multiple-musical-notes{background-image: url(emoji/1f3b6.png)}
.emoji-saxophone{background-image: url(emoji/1f3b7.png)}
.emoji-guitar{background-image: url(emoji/1f3b8.png)}
.emoji-musical-keyboard{background-image: url(emoji/1f3b9.png)}
.emoji-trumpet{background-image: url(emoji/1f3ba.png)}
.emoji-violin{background-image: url(emoji/1f3bb.png)}
.emoji-musical-score{background-image: url(emoji/1f3bc.png)}
.emoji-part-alternation-mark{background-image: url(emoji/303d.png)}
.emoji-camera{background-image: url(emoji/1f4f7.png)}
.emoji-video-camera{background-image: url(emoji/1f4f9.png)}
.emoji-television{background-image: url(emoji/1f4fa.png)}
.emoji-radio{background-image: url(emoji/1f4fb.png)}
.emoji-videocassette{background-image: url(emoji/1f4fc.png)}
.emoji-kiss-mark{background-image: url(emoji/1f48b.png)}
.emoji-love-letter{background-image: url(emoji/1f48c.png)}
.emoji-ring{background-image: url(emoji/1f48d.png)}
.emoji-gem-stone{background-image: url(emoji/1f48e.png)}
.emoji-kiss{background-image: url(emoji/1f48f.png)}
.emoji-bouquet{background-image: url(emoji/1f490.png)}
.emoji-couple-with-heart{background-image: url(emoji/1f491.png)}
.emoji-wedding{background-image: url(emoji/1f492.png)}
.emoji-no-one-under-eighteen-symbol{background-image: url(emoji/1f51e.png)}
.emoji-copyright-sign{background-image: url(emoji/2754.png)}
.emoji-registered-sign{background-image: url(emoji/2754.png)}
.emoji-trade-mark-sign{background-image: url(emoji/2122.png)}
.emoji-information-source{background-image: url(emoji/2139.png)}
.emoji-hash-key{background-image: url(emoji/0023.png)}
.emoji-keycap-1{background-image: url(emoji/0031.png)}
.emoji-keycap-2{background-image: url(emoji/0032.png)}
.emoji-keycap-3{background-image: url(emoji/0033.png)}
.emoji-keycap-4{background-image: url(emoji/0034.png)}
.emoji-keycap-5{background-image: url(emoji/0035.png)}
.emoji-keycap-6{background-image: url(emoji/0036.png)}
.emoji-keycap-7{background-image: url(emoji/0037.png)}
.emoji-keycap-8{background-image: url(emoji/0038.png)}
.emoji-keycap-9{background-image: url(emoji/0039.png)}
.emoji-keycap-0{background-image: url(emoji/0030.png)}
.emoji-keycap-ten{background-image: url(emoji/1f51f.png)}
.emoji-antenna-with-bars{background-image: url(emoji/1f4f6.png)}
.emoji-vibration-mode{background-image: url(emoji/1f4f3.png)}
.emoji-mobile-phone-off{background-image: url(emoji/1f4f4.png)}
.emoji-hamburger{background-image: url(emoji/1f354.png)}
.emoji-rice-ball{background-image: url(emoji/1f359.png)}
.emoji-shortcake{background-image: url(emoji/1f370.png)}
.emoji-steaming-bowl{background-image: url(emoji/1f35c.png)}
.emoji-bread{background-image: url(emoji/1f35e.png)}
.emoji-cooking{background-image: url(emoji/1f373.png)}
.emoji-soft-ice-cream{background-image: url(emoji/1f366.png)}
.emoji-french-fries{background-image: url(emoji/1f35f.png)}
.emoji-dango{background-image: url(emoji/1f361.png)}
.emoji-rice-cracker{background-image: url(emoji/1f358.png)}
.emoji-cooked-rice{background-image: url(emoji/1f35a.png)}
.emoji-spaghetti{background-image: url(emoji/1f35d.png)}
.emoji-curry-and-rice{background-image: url(emoji/1f35b.png)}
.emoji-oden{background-image: url(emoji/1f362.png)}
.emoji-sushi{background-image: url(emoji/1f363.png)}
.emoji-bento-box{background-image: url(emoji/1f371.png)}
.emoji-pot-of-food{background-image: url(emoji/1f372.png)}
.emoji-shaved-ice{background-image: url(emoji/1f367.png)}
.emoji-meat-on-bone{background-image: url(emoji/1f356.png)}
.emoji-fish-cake-with-swirl-design{background-image: url(emoji/1f365.png)}
.emoji-roasted-sweet-potato{background-image: url(emoji/1f360.png)}
.emoji-slice-of-pizza{background-image: url(emoji/1f355.png)}
.emoji-poultry-leg{background-image: url(emoji/1f357.png)}
.emoji-ice-cream{background-image: url(emoji/1f368.png)}
.emoji-doughnut{background-image: url(emoji/1f369.png)}
.emoji-cookie{background-image: url(emoji/1f36a.png)}
.emoji-chocolate-bar{background-image: url(emoji/1f36b.png)}
.emoji-candy{background-image: url(emoji/1f36c.png)}
.emoji-lollipop{background-image: url(emoji/1f36d.png)}
.emoji-custard{background-image: url(emoji/1f36e.png)}
.emoji-honey-pot{background-image: url(emoji/1f36f.png)}
.emoji-fried-shrimp{background-image: url(emoji/1f364.png)}
.emoji-fork-and-knife{background-image: url(emoji/1f374.png)}
.emoji-hot-beverage{background-image: url(emoji/2615.png)}
.emoji-cocktail-glass{background-image: url(emoji/1f378.png)}
.emoji-beer-mug{background-image: url(emoji/1f37a.png)}
.emoji-teacup-without-handle{background-image: url(emoji/1f375.png)}
.emoji-sake-bottle-and-cup{background-image: url(emoji/1f376.png)}
.emoji-wine-glass{background-image: url(emoji/1f377.png)}
.emoji-clinking-beer-mugs{background-image: url(emoji/1f37b.png)}
.emoji-tropical-drink{background-image: url(emoji/1f379.png)}
.emoji-north-east-arrow{background-image: url(emoji/2197.png)}
.emoji-south-east-arrow{background-image: url(emoji/2198.png)}
.emoji-north-west-arrow{background-image: url(emoji/2196.png)}
.emoji-south-west-arrow{background-image: url(emoji/2199.png)}
.emoji-arrow-pointing-rightwards-then-curving-upwards{background-image: url(emoji/2934.png)}
.emoji-arrow-pointing-rightwards-then-curving-downwards{background-image: url(emoji/2935.png)}
.emoji-left-right-arrow{background-image: url(emoji/2194.png)}
.emoji-up-down-arrow{background-image: url(emoji/2195.png)}
.emoji-upwards-black-arrow{background-image: url(emoji/2b06.png)}
.emoji-downwards-black-arrow{background-image: url(emoji/2b07.png)}
.emoji-black-rightwards-arrow{background-image: url(emoji/27a1.png)}
.emoji-leftwards-black-arrow{background-image: url(emoji/2b05.png)}
.emoji-black-right-pointing-triangle{background-image: url(emoji/25b6.png)}
.emoji-black-left-pointing-triangle{background-image: url(emoji/25c0.png)}
.emoji-black-right-pointing-double-triangle{background-image: url(emoji/23e9.png)}
.emoji-black-left-pointing-double-triangle{background-image: url(emoji/23ea.png)}
.emoji-black-up-pointing-double-triangle{background-image: url(emoji/23eb.png)}
.emoji-black-down-pointing-double-triangle{background-image: url(emoji/23ec.png)}
.emoji-up-pointing-red-triangle{background-image: url(emoji/1f53a.png)}
.emoji-down-pointing-red-triangle{background-image: url(emoji/1f53b.png)}
.emoji-up-pointing-small-red-triangle{background-image: url(emoji/1f53c.png)}
.emoji-down-pointing-small-red-triangle{background-image: url(emoji/1f53d.png)}
.emoji-heavy-large-circle{background-image: url(emoji/2b55.png)}
.emoji-cross-mark{background-image: url(emoji/274c.png)}
.emoji-negative-squared-cross-mark{background-image: url(emoji/274e.png)}
.emoji-heavy-exclamation-mark-symbol{background-image: url(emoji/2757.png)}
.emoji-exclamation-question-mark{background-image: url(emoji/2049.png)}
.emoji-double-exclamation-mark{background-image: url(emoji/203c.png)}
.emoji-black-question-mark-ornament{background-image: url(emoji/2753.png)}
.emoji-white-question-mark-ornament{background-image: url(emoji/2754.png)}
.emoji-white-exclamation-mark-ornament{background-image: url(emoji/2755.png)}
.emoji-wavy-dash{background-image: url(emoji/3030.png)}
.emoji-curly-loop{background-image: url(emoji/27b0.png)}
.emoji-double-curly-loop{background-image: url(emoji/27bf.png)}
.emoji-heavy-black-heart{background-image: url(emoji/2764.png)}
.emoji-beating-heart{background-image: url(emoji/1f493.png)}
.emoji-broken-heart{background-image: url(emoji/1f494.png)}
.emoji-two-hearts{background-image: url(emoji/1f495.png)}
.emoji-sparkling-heart{background-image: url(emoji/1f496.png)}
.emoji-growing-heart{background-image: url(emoji/1f497.png)}
.emoji-heart-with-arrow{background-image: url(emoji/1f498.png)}
.emoji-blue-heart{background-image: url(emoji/1f499.png)}
.emoji-green-heart{background-image: url(emoji/1f49a.png)}
.emoji-yellow-heart{background-image: url(emoji/1f49b.png)}
.emoji-purple-heart{background-image: url(emoji/1f49c.png)}
.emoji-heart-with-ribbon{background-image: url(emoji/1f49d.png)}
.emoji-revolving-hearts{background-image: url(emoji/1f49e.png)}
.emoji-heart-decoration{background-image: url(emoji/1f49f.png)}
.emoji-black-heart-suit{background-image: url(emoji/2665.png)}
.emoji-black-spade-suit{background-image: url(emoji/2660.png)}
.emoji-black-diamond-suit{background-image: url(emoji/2666.png)}
.emoji-black-club-suit{background-image: url(emoji/2663.png)}
.emoji-smoking-symbol{background-image: url(emoji/1f6ac.png)}
.emoji-no-smoking-symbol{background-image: url(emoji/1f6ad.png)}
.emoji-wheelchair-symbol{background-image: url(emoji/267f.png)}
.emoji-triangular-flag-on-post{background-image: url(emoji/1f6a9.png)}
.emoji-warning-sign{background-image: url(emoji/26a0.png)}
.emoji-no-entry{background-image: url(emoji/26d4.png)}
.emoji-black-universal-recycling-symbol{background-image: url(emoji/267b.png)}
.emoji-bicycle{background-image: url(emoji/1f6b2.png)}
.emoji-pedestrian{background-image: url(emoji/1f6b6.png)}
.emoji-mens-symbol{background-image: url(emoji/1f6b9.png)}
.emoji-womens-symbol{background-image: url(emoji/1f6ba.png)}
.emoji-bath{background-image: url(emoji/1f6c0.png)}
.emoji-restroom{background-image: url(emoji/1f6bb.png)}
.emoji-toilet{background-image: url(emoji/1f6bd.png)}
.emoji-water-closet{background-image: url(emoji/1f6be.png)}
.emoji-baby-symbol{background-image: url(emoji/1f6bc.png)}
.emoji-door{background-image: url(emoji/1f6aa.png)}
.emoji-no-entry-sign{background-image: url(emoji/1f6ab.png)}
.emoji-heavy-check-mark{background-image: url(emoji/2714.png)}
.emoji-squared-cl{background-image: url(emoji/1f191.png)}
.emoji-squared-cool{background-image: url(emoji/1f192.png)}
.emoji-squared-free{background-image: url(emoji/1f193.png)}
.emoji-squared-id{background-image: url(emoji/1f194.png)}
.emoji-squared-new{background-image: url(emoji/1f195.png)}
.emoji-squared-ng{background-image: url(emoji/1f196.png)}
.emoji-squared-ok{background-image: url(emoji/1f197.png)}
.emoji-squared-sos{background-image: url(emoji/1f198.png)}
.emoji-squared-up-with-exclamation-mark{background-image: url(emoji/1f199.png)}
.emoji-squared-vs{background-image: url(emoji/1f19a.png)}
.emoji-squared-katakana-koko{background-image: url(emoji/1f201.png)}
.emoji-squared-katakana-sa{background-image: url(emoji/1f202.png)}
.emoji-squared-cjk-unified-ideograph-7981{background-image: url(emoji/1f232.png)}
.emoji-squared-cjk-unified-ideograph-7a7a{background-image: url(emoji/1f233.png)}
.emoji-squared-cjk-unified-ideograph-5408{background-image: url(emoji/1f234.png)}
.emoji-squared-cjk-unified-ideograph-6e80{background-image: url(emoji/1f235.png)}
.emoji-squared-cjk-unified-ideograph-6709{background-image: url(emoji/1f236.png)}
.emoji-squared-cjk-unified-ideograph-7121{background-image: url(emoji/1f21a.png)}
.emoji-squared-cjk-unified-ideograph-6708{background-image: url(emoji/1f237.png)}
.emoji-squared-cjk-unified-ideograph-7533{background-image: url(emoji/1f238.png)}
.emoji-squared-cjk-unified-ideograph-5272{background-image: url(emoji/1f239.png)}
.emoji-squared-cjk-unified-ideograph-6307{background-image: url(emoji/1f22f.png)}
.emoji-squared-cjk-unified-ideograph-55b6{background-image: url(emoji/1f23a.png)}
.emoji-circled-ideograph-secret{background-image: url(emoji/3299.png)}
.emoji-circled-ideograph-congratulation{background-image: url(emoji/3297.png)}
.emoji-circled-ideograph-advantage{background-image: url(emoji/1f250.png)}
.emoji-circled-ideograph-accept{background-image: url(emoji/1f251.png)}
.emoji-heavy-plus-sign{background-image: url(emoji/2795.png)}
.emoji-heavy-minus-sign{background-image: url(emoji/2796.png)}
.emoji-heavy-multiplication-x{background-image: url(emoji/2716.png)}
.emoji-heavy-division-sign{background-image: url(emoji/2797.png)}
.emoji-diamond-shape-with-a-dot-inside{background-image: url(emoji/1f4a0.png)}
.emoji-electric-light-bulb{background-image: url(emoji/1f4a1.png)}
.emoji-anger-symbol{background-image: url(emoji/1f4a2.png)}
.emoji-bomb{background-image: url(emoji/1f4a3.png)}
.emoji-sleeping-symbol{background-image: url(emoji/1f4a4.png)}
.emoji-collision-symbol{background-image: url(emoji/1f4a5.png)}
.emoji-splashing-sweat-symbol{background-image: url(emoji/1f4a6.png)}
.emoji-droplet{background-image: url(emoji/1f4a7.png)}
.emoji-dash-symbol{background-image: url(emoji/1f4a8.png)}
.emoji-pile-of-poo{background-image: url(emoji/1f4a9.png)}
.emoji-flexed-biceps{background-image: url(emoji/1f4aa.png)}
.emoji-dizzy-symbol{background-image: url(emoji/1f4ab.png)}
.emoji-speech-balloon{background-image: url(emoji/1f4ac.png)}
.emoji-sparkles{background-image: url(emoji/2728.png)}
.emoji-eight-pointed-black-star{background-image: url(emoji/2734.png)}
.emoji-eight-spoked-asterisk{background-image: url(emoji/2733.png)}
.emoji-medium-white-circle{background-image: url(emoji/26aa.png)}
.emoji-medium-black-circle{background-image: url(emoji/26ab.png)}
.emoji-large-red-circle{background-image: url(emoji/1f534.png)}
.emoji-large-blue-circle{background-image: url(emoji/1f535.png)}
.emoji-black-square-button{background-image: url(emoji/1f532.png)}
.emoji-white-square-button{background-image: url(emoji/1f533.png)}
.emoji-white-medium-star{background-image: url(emoji/2b50.png)}
.emoji-white-large-square{background-image: url(emoji/2b1c.png)}
.emoji-black-large-square{background-image: url(emoji/2b1b.png)}
.emoji-white-small-square{background-image: url(emoji/25ab.png)}
.emoji-black-small-square{background-image: url(emoji/25aa.png)}
.emoji-white-medium-small-square{background-image: url(emoji/25fd.png)}
.emoji-black-medium-small-square{background-image: url(emoji/25fe.png)}
.emoji-white-medium-square{background-image: url(emoji/25fb.png)}
.emoji-black-medium-square{background-image: url(emoji/25fc.png)}
.emoji-large-orange-diamond{background-image: url(emoji/1f536.png)}
.emoji-large-blue-diamond{background-image: url(emoji/1f537.png)}
.emoji-small-orange-diamond{background-image: url(emoji/1f538.png)}
.emoji-small-blue-diamond{background-image: url(emoji/1f539.png)}
.emoji-sparkle{background-image: url(emoji/2747.png)}
.emoji-white-flower{background-image: url(emoji/1f4ae.png)}
.emoji-hundred-points-symbol{background-image: url(emoji/1f4af.png)}
.emoji-leftwards-arrow-with-hook{background-image: url(emoji/21a9.png)}
.emoji-rightwards-arrow-with-hook{background-image: url(emoji/21aa.png)}
.emoji-clockwise-downwards-and-upwards-open-circle-arrows{background-image: url(emoji/1f503.png)}
.emoji-speaker-with-three-sound-waves{background-image: url(emoji/1f50a.png)}
.emoji-battery{background-image: url(emoji/1f50b.png)}
.emoji-electric-plug{background-image: url(emoji/1f50c.png)}
.emoji-left-pointing-magnifying-glass{background-image: url(emoji/1f50d.png)}
.emoji-right-pointing-magnifying-glass{background-image: url(emoji/1f50e.png)}
.emoji-lock{background-image: url(emoji/1f512.png)}
.emoji-open-lock{background-image: url(emoji/1f513.png)}
.emoji-lock-with-ink-pen{background-image: url(emoji/1f50f.png)}
.emoji-closed-lock-with-key{background-image: url(emoji/1f510.png)}
.emoji-key{background-image: url(emoji/1f511.png)}
.emoji-bell{background-image: url(emoji/1f514.png)}
.emoji-ballot-box-with-check{background-image: url(emoji/2611.png)}
.emoji-radio-button{background-image: url(emoji/1f518.png)}
.emoji-bookmark{background-image: url(emoji/1f516.png)}
.emoji-link-symbol{background-image: url(emoji/1f517.png)}
.emoji-back-with-leftwards-arrow-above{background-image: url(emoji/1f519.png)}
.emoji-end-with-leftwards-arrow-above{background-image: url(emoji/1f51a.png)}
.emoji-on-with-exclamation-mark-with-left-right-arrow-above{background-image: url(emoji/1f51b.png)}
.emoji-soon-with-rightwards-arrow-above{background-image: url(emoji/1f51c.png)}
.emoji-top-with-upwards-arrow-above{background-image: url(emoji/1f51d.png)}
.emoji-em-space{background-image: url(emoji/2754.png)}
.emoji-en-space{background-image: url(emoji/2754.png)}
.emoji-four-per-em-space{background-image: url(emoji/2754.png)}
.emoji-white-heavy-check-mark{background-image: url(emoji/2705.png)}
.emoji-raised-fist{background-image: url(emoji/270a.png)}
.emoji-raised-hand{background-image: url(emoji/270b.png)}
.emoji-victory-hand{background-image: url(emoji/270c.png)}
.emoji-fisted-hand-sign{background-image: url(emoji/1f44a.png)}
.emoji-thumbs-up-sign{background-image: url(emoji/1f44d.png)}
.emoji-white-up-pointing-index{background-image: url(emoji/261d.png)}
.emoji-white-up-pointing-backhand-index{background-image: url(emoji/1f446.png)}
.emoji-white-down-pointing-backhand-index{background-image: url(emoji/1f447.png)}
.emoji-white-left-pointing-backhand-index{background-image: url(emoji/1f448.png)}
.emoji-white-right-pointing-backhand-index{background-image: url(emoji/1f449.png)}
.emoji-waving-hand-sign{background-image: url(emoji/1f44b.png)}
.emoji-clapping-hands-sign{background-image: url(emoji/1f44f.png)}
.emoji-ok-hand-sign{background-image: url(emoji/1f44c.png)}
.emoji-thumbs-down-sign{background-image: url(emoji/1f44e.png)}
.emoji-open-hands-sign{background-image: url(emoji/1f450.png)}
